html,
body,
#app {
    margin: 0;
    padding: 0;
    .main{
        padding: 5px;
        .controller {
            margin: 20px 0;
            text-align: center;
            label, button {
                margin-right: 20px;
            }
        }
        .waterfall {
            position: relative;
            overflow: hidden;
            .card {
                user-select: none;
                .child{
                    display: flex;
                    height: 100%;
                    width: 100%;
                    margin: 0;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}
